#navBack {

}
#navBar {
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    padding: .5em 0 0 0;
    height: 3em;

}
#navBar h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    margin-left: 3em;
}
#navBar nav {
    float: right;
    position: relative;
    top: -1.8em;
    font-size: 1em;
}
#navBar a {
    font-family: 'Crete Round', sans-serif;
}
#navToggle {
    width: 2em;
    height: 2em;
    position: relative;
    float: right;
    top: -1.8em;
    cursor: pointer;
    left: 1em;
}
.toggleBar {
    background-color: rgb(255, 255, 255);
    width: 2em;
    height: .2em;
    margin-top: .25em;
    margin-bottom: .3em;
    border-radius: 3em;
    transition: ease-in-out all .3s;
}
.sided .toggleBar{
    transform: rotateY(180deg) rotateZ(30deg);
}