#parallax {
    height: 100vh;
    overflow: hidden;
}

#parallax h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-size: 3em;
    text-shadow: 0 0 13px rgb(36, 42, 255);
}
#parD {
    padding-top: 40vh;
    text-align: center;
}
#parD * b {
    font-family: 'Dosis', sans-serif;
}
#parD ul li{
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 1.5em;
    font-family: 'Dosis', sans-serif;
    text-shadow: 0 0 13px rgb(36, 42, 255);
}
#underline {
    background-color: #fff;
    width: 90px;
    height: 3px;
    margin: auto;
    top: 5px;
    position: relative;
    animation: und 3s infinite ease;
    border-radius: 1em;
}

.view .react-parallax-content {
    display: flex;
    width: 100%;
    height: 40vh;
}
.viewLeft {
    display: inline-flex;
    position: relative;
    float: left;
    width: 50%;
}
.viewRight {
    display: inline-flex;
    position: relative;
    float: right;
    width: 50%;
}
.view * h2 {
    font-family: 'Dosis', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-top: 20vh;
    top: -.7em;
    position: relative;
}
.view * .text {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    position: relative;
    height: 40vh;
    margin-top: 20vh;
    top: -1.5em;
    text-shadow: 0 0 15px rgb(0, 0, 0);
}
.view * .text img {
    width: 64px;
    padding-left: 10px;
}
.oneL {
    background-color: var(--primary);
}
.oneR {
    background-color: rgba(255, 255, 255, 0.18);
}
.twoR {
    background-color: var(--secondary);
}
.text {
    color: rgb(0, 0, 0);
}
.white a {
    color: rgb(209, 159, 255);
}
.threeL {
    background-color: var(--primary);
}
.threeR {
    background-color: rgba(255, 255, 255, 0.37);
}
.fourR {
    background-color: var(--secondary);
}
.t3 {
    margin-top: 16vh !important;
}
.white {
    color: #fff;
}



@keyframes und {
    0% {
        left: -135px; width: 90px;}
    15% {
        width: 50px;
    }
    30% {
        left: 140px; width: 80px;}
    50% {
        left: 140px; width: 80px;}
    70% {
        width: 60px;
    }
    90% {
        left: -135px; width: 90px;}
    100% {
        left: -135px;}
}

@media screen and (max-width: 1300px) {
    .view * .text {
        font-size: 1.3em;
        margin-top: 18vh;
    }
}

@media screen and (max-width: 900px){
    .viewLeft, .viewRight {
        width: 100% !important;
        background-color: rgba(255, 255, 255, 0.08);
        top: 0;
    }
    .react-parallax-bgimage {
        height: 200vh !important;
    }
    .view .react-parallax-content {
        display: block;
        width: 100%;
        height: 60vh;
    }
    .view * h2 {
        top: -2em;
    }
    #underline {
        display: none;
    }
    .view * .text, .view * .text {
        text-shadow: 10px 0 15px rgb(0, 0, 0);
    }
    .view * h2 {
        text-shadow: 10px 0 15px rgb(0, 0, 0);
    }
}