body {
    background: rgb(45, 45, 45);
    box-shadow: inset 0 0 177px 77px rgba(0,0,0,0.75);
}
#pr {
    display: flex;
    padding-top: 70px;
    width: 100%;
    background: rgba(11, 16, 133, 0.51) url("../imgs/mnt.jpg") fixed;
}
#pr h1 {
    color: #282828;
    padding-left: 30px;
    padding-bottom: 10px;
}

section h1 {
    margin-top: 50px;
}
main * {
    font-family: 'Roboto', sans-serif;
}
#md {
    width: 70vw;
    position: relative;
    left: 50%;
    margin-left: -35vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    margin-top: 30px;
}
#md * {
    padding: 15px;
    text-shadow: 0 0 12px rgba(104, 104, 104, 1);
}
#md * h1 {
    box-shadow: rgba(255, 255, 255, 0.51) 0 0 10px -10px;
}
#md a {
    color: rgba(160, 74, 251, 0.8);
}
#md a, #md p {
    padding: 0;
    transition: all .3s;
}
#md a:hover {
    color: rgb(207, 119, 251);
}
#md * img {
    height: auto;
    width: 65vw;
    border-radius: 2em;
}
#md * hr {
    border-bottom: solid 1px #fff;
}

#break {
    height: 50px;
}

@media screen and (max-width: 900px) {
    #md {
        width: 90vw;
        position: relative;
        left: 50%;
        margin-left: -45vw;
    }
    #md * img {
        height: auto;
        width: 78vw;
        border-radius: 2em;
    }
}